astroid==3.3.5
autopep8==2.3.1
dill==0.3.9
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
platformdirs==4.3.6
pycodestyle==2.12.1
pylint==3.3.1
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
wrapt==1.16.0
